@media (max-width: 768px) {
    .item {
        flex-basis: 40%;
    }
}

.fixturesTitle h1 {
    font-size: 60px;
    font-family: sans-serif;
}

.fixturesTitle h1 {
    background-color: #39003d;
    color: #ffffff;
    text-align: center;
    display: block;
    padding: 15px;
    margin: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.fixtures{
    margin-top: 7%;
    font-size: 18px;
    width: 100%;
}

.fixtures ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.fixtures li {
    flex-basis: 20%;
    margin: 10px;
    text-align: center;
    list-style: none;
    border: 1px solid white;
    padding: 20px;
}

.fixtures input {
    width: 60px;
    height: 50px;
    padding: 5px;
    font-size: 30px;
    text-align: center;
    margin: 10px;
}

.fixtures button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

.fixtures button:hover {
    border-color: #646cff;
}

.fixtures button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

